@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
  }
*{
    font-family: 'Montserrat', sans-serif;
    cursor: context-menu;
  }
  .container-fluid >.navbar-brand{
    color: #718C59;
    font-size: 26px;
    font-weight: 700;
    line-height: 58px; 
  }
  .nav-home{
    position: fixed;
    top: -10px;
    width: 100%;
   }
  .container-fluid >.navbar-brand:hover{
    color: #718C59;
  }
  ul li {
    color: rgba(0, 0, 0, 0.70);
    font-size: 18px;
    font-weight: 500;
  }
  #input-foot::placeholder{
    color: rgba(0, 0, 0, 0.35);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
  ul li a img{
    width: 16px;
    height: 16px;
  }
  nav ul li a:hover {
    cursor: pointer;
  }
  ul li {
    cursor: pointer;
  }
  nav > div >h1{
    cursor: context-menu;
  }
  nav > div >h1:hover{
    color: #718C59;
  }
  .home{
    color: rgba(0, 0, 0, 0.30);
    font-size: 14px;
    font-weight: 400;
}
.cart{
    color:#000;;
}
.desc{
    color: rgba(0, 0, 0, 0.60);
    font-size: 15px;
    font-weight: 400;
}
.card-furniture{
  background-color: #fff;
  border-radius: 0;
  border: none;
  padding: 20px;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.08);
  margin: 20px;
  border: 0;
}
.card img{
  padding: 10px;
  margin: auto;
  border-radius: 0;
  border: 1px solid #ddd;
  background-color: rgba(140, 161, 122, 0.2);
}
.card-furniture h5{
  color: #000;
font-size: 12px;
font-weight: 400;

}
.card-furniture h6{
  color:  #5C7F8A;
  font-size: 10px;
  font-weight: 400;

}
.img-card{
  position: relative;
  left: -74px;
}
p{
  color: rgba(0, 0, 0, 0.60);
  font-size: 18px;
  font-weight: 400;
}
ul li{
  color: rgba(0, 0, 0, 0.35);
  font-size: 12px;
}
.ourteam p{
  color: rgba(0, 0, 0, 0.35);
font-size: 14px;
font-weight: 400; 
}
.number-teams p{
  color: rgba(0, 0, 0, 0.50);
font-size: 16px;
font-weight: 400;
}
.number-teams h5{
  color: #000;
font-size: 20px;
font-weight: 500;
}.cs{
  padding-bottom: 15px;
    color:  rgba(113, 140, 89, 0.75);
    font-size: 16px;
    font-weight: 600;

}
.later{
    color: #000;
    font-size: 16px;
    font-weight: 300;
    padding-top: 7px;
 

}
.footer-home{
  font-family: 'Poppins';
  background: rgba(140, 161, 122, 0.03);
}
#input-foot{
    border-radius: 6px;
background: rgba(113, 140, 89, 0.10);
}
#addon-wrapping{
    background-color: rgba(113, 140, 89, 0.75);
}
#end{
  text-align: center;
    color: rgba(0, 0, 0, 0.50);
    font-size: 12px;
    font-weight: 400;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
}
.images img{
  max-width: 175px;
  max-height: 160px;
}
.images{
  display: flex;
  justify-content: center;
}
.nav-link.active{
  font-weight: bold;
}
.home-inst a{
  text-decoration: none;
  cursor: pointer;
}


