@font-face {
    font-family: 'Montserrat','sans-serif';
    src: url('../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
  }
  @font-face {
    font-family: 'Poppines',sans-serif;
    src: url('../assets/fonts/Poppins/Poppins-Medium.ttf');
  }
  .main {
    font-family: 'Montserrat', sans-serif;
    cursor: context-menu;
  }
  
  .container-fluid >.navbar-brand{
    color: #718C59;
    font-size: 26px;
    font-weight: 700;
    line-height: 58px; 
  }
  .nav-home{
    position: fixed;
    top: -10px;
    width: 100%;
   }
  .container-fluid >.navbar-brand:hover{
    color: #718C59;
  }

  ul li {
    color: rgba(0, 0, 0, 0.70);
    font-size: 18px;
    font-weight: 500;
  }
  #input-foot::placeholder{
    color: rgba(0, 0, 0, 0.35);
 
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
  ul li a img{
    width: 16px;
    height: 16px;
  }
  nav ul li a:hover {
    cursor: pointer;
  }
  ul li {
    cursor: pointer;
  }
  nav > div >h1{
    cursor: context-menu;
  }
  nav > div >h1:hover{
    color: #718C59;
  }
  .home{
    color: rgba(0, 0, 0, 0.30);
    font-size: 14px;
    font-weight: 400;
}
.cart{
    color:#000;;
}
.desc{
    color: rgba(0, 0, 0, 0.60);
    font-size: 15px;
    font-weight: 400;
}
.card-furniture{
  background-color: #fff;
  border-radius: 0;
  border: none;
  padding: 20px;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.08);
  margin: 20px;
  border: 0;
}
.card img{
  padding: 10px;
  margin: auto;
  border-radius: 0;
  border: 1px solid #ddd;
  background-color: rgba(140, 161, 122, 0.2);
}
.card-furniture h5{
  color: #000;
font-size: 12px;
font-weight: 400;

}
.card-furniture h6{
  color:  #5C7F8A;
  font-size: 10px;
  font-weight: 400;

}
.img-card{
  position: relative;
  right: -70px;
}
.img-card2{
  position: relative;
  right: 70px;
}
p{
  color: rgba(0, 0, 0, 0.60);
  font-size: 18px;
  font-weight: 400;
}
ul li{
  color: rgba(0, 0, 0, 0.35);
  font-size: 15px;
}
.ourteam p{
  color: rgba(0, 0, 0, 0.35);
font-size: 14px;
font-weight: 400; 
}
.number-teams p{
  color: rgba(0, 0, 0, 0.50);
font-size: 16px;
font-weight: 400;
}
.number-teams h5{
  color: #000;
font-size: 20px;
font-weight: 500;
}.cs{
  padding-bottom: 15px;
    color:  rgba(113, 140, 89, 0.75);
    font-size: 16px;
    font-weight: 600;

}
.later{
    color: #000;
    font-size: 16px;
    font-weight: 300;
    padding-top: 7px;
 

}
.footer-home{
  font-family: 'Poppins', sans-serif;
  background: rgba(140, 161, 122, 0.03);
}
#input-foot{
    border-radius: 6px;
background: rgba(113, 140, 89, 0.10);
}
#addon-wrapping{
    background-color: rgba(113, 140, 89, 0.75);
}
#end{
  text-align: center;
    color: rgba(0, 0, 0, 0.50);
    font-size: 12px;
    font-weight: 400;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
}
.images img{
  border-radius: 0;
  margin-top: 10px;
}
.images{
  display: flex;
  justify-content: center;
}
.nav-link.active{
  font-weight: bold;
}
.home-inst a{
  text-decoration: none;
  cursor: pointer;
}



.profile-page {
  display: none;
  ;
  background-color: #fff;
  padding: 10px;

}

.profile-list,.cart-content {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;

  right: 0;
  background-color: #fff;
  padding: 10px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 191px;

  position: absolute;
  top: 66px;
  display: grid;
  justify-content: space-between;
}

.profile-list ul {

  padding: 0;
}

.profile-list li {
  margin: 5px 0;
  list-style: none;
}

.profile-list li a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  font-size: 10px;


}

.profile-list p {
  border-bottom: 1px solid #ddd;
  color: rgba(0, 0, 0, 0.6);
  font-size: 11px;
  font-weight: 500;

}
.profile-list li:nth-last-child(1) {
  border-bottom: 1px solid #ddd;
}

.cart-content header{
    display: flex;
    justify-content: space-between;
   
    border-bottom: 1px solid #ddd;
}
.cart-content header img{
    width: 21px;
    height: 21px;
}
.cart-content p{
    color: #000;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}
.cart-content button a{
    text-decoration: none;
    color: #fff;
}
.cart-content section span p{
    color: rgba(0, 0, 0, 0.80);
font-size: 16px;

font-weight: 400;
}
.cart-content .qty{
    color: rgba(0, 0, 0, 0.50);
font-size: 14px;
font-weight: 400;
/* padding-top: 10px; */
}
.right-cart{
    position: absolute;
    right: 0px;
}
.cart-item,.cart-item3{
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.cart-item img,.cart-item3 img{
  width: 36%;
}
.cart-item3{
    padding-bottom: 100px;
}
.cart-content .foot-cart{
    display: flex;
    justify-content: space-between;
}
.cart-content .create{
    width: 100%;
    background:  #8CA17A;
    border: none;
    color: white;

}
.cart-content #input-foot::placeholder{
    color: rgba(0, 0, 0, 0.35);
 
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
  .nav-home {
    background-color: #fff;
  }
  @media screen and (max-width: 767px) {
    .footer-home >.container-fluid{
      padding: 0;
      position: relative;
  
      left: -40px;
    }
    .row .col-6{
      width: 100%;
    }
    .img-card{
      right: -6px;
    }
    .img-card2{
      position: relative;
      right: -6px;
    }
    .images img{
      display: none;
    }
    .card-empty{
      display: none;
    }
    .navbar .nav-home .collapse:nth-last-child(1){
      margin-left: 0;
    }
    .img-card2{
      display: none;
    }
    .logo{
      display: none;
      padding-left: 0rem!important;
    
    }
    nav #logo-image{
      display: block;
    
      width: 44%;
    }
    .nav-home{
      padding: 20px;
      box-shadow: 0px 4px 52px 0px rgba(0, 0, 0, 0.15);
    }
 
      }
    
      #logo-image{
        display: none;
      }