@font-face {
  font-family: 'Poppines';
  src: url('../assets/fonts/Poppins/Poppins-Medium.ttf');
}

* {
  /* font-family: 'Poppines', sans-serif; */
  cursor: context-menu;
}


.home-checkbox{
    position: relative;
    right: 34px;
}
.home-checkbox  span:hover{
    cursor: pointer;
}

:root {
    --line-border-fill: #FF4B91;
    --line-border-empty: #EFB621;
    --background-color: #FFCD4B;
}

    h6 {
        font-size: 18px;
}

:root {
    --line-border-fill: rgba(140, 161, 122, 1);
    --line-border-empty: #e0e0e0;
  }
.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;

}

.progress-container::before {
    content:'';
    background-color: rgba(140, 161, 122, 0.2);
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 100%;
    z-index: -1;
}

.progress {
    background-color: #8CA17A;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    z-index: -1;
    transition: 400ms ease;
}

.circle {
    background-color: rgba(140, 161, 122, 0.2);
    /* rgba(140, 161, 122, 1); */
    color: #e0e0e0;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 400ms ease;
}

.circle.active {
    background-color: rgba(140, 161, 122, 1);
}

.btn {
    background-color: #8CA17A;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

.btn:active {
    transform: scale(0.98);
}


.btn:focus {
    outline: 0;
}

.btn:disabled {
    background-color: #e0e0e0;
    cursor:not-allowed;
    transform: none;
}
.shapping,.paymentchechbox,.summary{
    background-size: 100% 100%;
    background-image: url(../../assets/images/pages/checkbox/Rectangle\ 367\ \(1\).png);
}
.summary{
    display: none;
}
.sucess{
    display: none;
}
.info h3{
    color: #000;
font-family: Poppins;
font-size: 27px;
font-weight: 600;
text-transform: capitalize;
}
  /* .buttons{
    position: relative;
    bottom: 71px;
    /* padding: 12px; 
    
}  */

.informat p {
    color: rgba(0, 0, 0, 0.70);;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    text-align: left;
    position: relative;
    top: 10px;}

    #exampleFormControlInput1::placeholder,.informat select {
        color: rgba(0, 0, 0, 0.20);
        font-size: 16px;
    }
    .paymentchechbox{
        display: none;
    }
    .buttons{
        position: relative;
        bottom: 80px;
    }
.informat{
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}.informat
 select{
    background-color: transparent;
}


.loaction-place >span {
    color: #000;
    font-size: 18px;
    font-weight: 500;}


input[type='radio'] {
    accent-color: rgba(113, 140, 89, 0.75);
}
.loaction-place {
    /* margin: auto; */
    font-family: Poppins;
    text-align: left;
    border-radius: 4px;
border: 1px solid #D9D9D9;
}
#next a,#back a,.next a{
    text-decoration: none;
    color: white;
    font-family: Poppins;
    font-size: 24px;

}

#next:hover,.back:hover,.next:hover{
    cursor: pointer;
}
.footer-home{
    background-color: rgba(140, 161, 122, 0.03);
}
 #next,.next{
    background-color: #8CA17A;
    border-radius: 0;

}
#back{
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.20);
    border-radius: 0;
  
}
#back a{
    color: black;

}
.paymentchechbox .card{
    background-color: transparent;
    width: 30%;
    border-radius: 0;
    display: inline-block;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.20);
}
.card img{
    width: 30px;
    height: 30px;
}
.card.active{
    background-color: #8CA17A;
    
}
.card span{
    color: rgba(0, 0, 0, 0.70);

    font-family: Poppins;
    font-size: 18px;
}
.card span.active{
    color: #ffff;
}
.visa{
    border-radius: 8px;
border: 1px solid rgba(113, 140, 89, 0.20);
margin: auto;
width: 88%
}
.info .content{
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

.sucess {
    padding: 8rem;
    text-align: center;
    background-size: 100% 100%;
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 4px 4px 50px 0px rgba(0, 0, 0, 0.10);}

.orders{
    width: 88%;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.20);
}
.sucess button{
    border: 1px solid rgba(0, 0, 0, 0.20);
    border-radius: 0;
font-size: 20px;
font-weight: 400;
width:45% ;
}
.sucess p{
    color: #000;
font-size: 34px;
font-weight: 400;
}

.orders h6{
    color: #000;
font-size: 18px;
line-height: 2rem;
}
.orders span{
    color: var(--green, #718C59);
font-family: Poppins;
font-size: 14px;
}
.orders .card-order{
    border-bottom: 1px solid #ddd;
}
.summary .information-card{
    background: rgba(113, 140, 89, 0.10);
    margin: auto;
    width: 88%;
    border-radius: 0;
}
.information-card .col-3 p{
    color: rgba(0, 0, 0, 0.30);
    font-size: 16px;
    font-weight: 400;
    line-height: 2rem;

}
.information-card .col-6 p{
    color: rgba(0, 0, 0, 0.70);

font-size: 16px;
font-weight: 400;

}
.visa-card h6{
    color: rgba(0, 0, 0, 0.60);
font-size: 16px;
font-weight: 400;
line-height: 30px;

}


svg {
    margin: auto;
  display: block;
  height:10vw;
  width: 10vw;
  color: #ffff; 
  background-color: rgba(113, 140, 89, 0.75);
  border-radius: 50%;
}

.circle {
  stroke-dasharray: 76;
  stroke-dashoffset: 76;
  animation:  1s forwards;
}

.tick {
  stroke-dasharray: 18;
  stroke-dashoffset: 18;
  animation: draw 1s forwards 1s;
}

@keyframes draw { 
  to { stroke-dashoffset: 0 } 
}



@media screen and (max-width: 800px) {
    .sucess > .words-progress{
        display: none;
    }
    .sucess{
        padding: 0;
    }
     .sucess-content{
        padding: 0;
    }
}








