*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
.card{
    width: 60%;
}
.container-fluid >.navbar-brand{
    color: #718C59;
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 58px; 
    text-transform: capitalize;
}
ul li {
    color: rgba(0, 0, 0, 0.70);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 58px; 
    text-transform: capitalize;
}
ul li a img{
    width: 16px;
    height: 16px;
}

hr{
    padding-bottom: 15px;
}
.btn2{
    width: 200px;
    height: 47px;
    border:1px solid #ddd;
    color: #718C59;
    font-size: 17px;
    font-size: 400;
}
.btn2:hover{
    background-color: #718C59;
    color: #fff;
    cursor: context-menu;
    transition-delay: 150ms;
}
.btn1{
    opacity: 0.5;
    cursor: context-menu;
    background-color: #718C59;
    width: 200px;
    height: 47px;
    border:1px solid #ddd;
    color: #ffff;
    font-size: 17px;
    font-size: 400;
}
.btn1 :hover{
    opacity: 1;
    
}
.logos{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.logos >.col-md-3{
    border: 1px solid rgba(140, 161, 122, 0.30);

}
.logos .card img{
    margin: auto;
    width: 50px;
    height: 50px;
    flex-shrink: 0;

}
.logos .card img :hover{
    width: 100%;

}
.card-title {
    color: rgba(0, 0, 0, 0.40);
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }
.card-text{
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
#head{
    color: #000;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px; 
    text-transform: capitalize;
}
#head span{
    color: #718C59;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 58px;
    text-transform: capitalize;
}
#head2{
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; 
    text-transform: capitalize;
}
#head2 >span{
    color: #718C59;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    text-transform: capitalize;
}
.card{
    border: rgba(140, 161, 122, 0.3);
}
.producats{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.producats > .card{
   border-radius: 0;
   background: #FFF;
   box-shadow: 0px 4px 52px 0px rgba(0, 0, 0, 0.15);
}
.producats > .card >img{
    width: 100%;
}
.producats > .card >img{
    padding: 13px;
}
ul li {
    cursor: pointer;
}
nav > div >h1{
    cursor: context-menu;
}
nav > div >h1:hover{
    color: #718C59;
}
main p{
    color: #000;
text-align: center;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 33px; /* 165% */
text-transform: capitalize;
}
.spanproducats{
    padding: 10px;
    display: flex;
    justify-content: space-around;

}
.spanproducats span{
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px; /* 165% */
    text-decoration-line: underline;
    text-transform: capitalize;
    margin: auto;
    padding: 10px;
}
.inspiration{
    margin-top: 35px;
    display: flex;
    justify-content: space-evenly;
}
.inspiration .card img{
    height: 350px;
}
.choose > .card{
    width: 100%;
    height: auto;
    border: none;
    padding: 10px;
}
.choose >.card-title{
    color: #000;
text-align: center;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 33px; /* 165% */
text-transform: capitalize;
}
#p{
    color: rgba(0, 0, 0, 0.40);
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 33px; /* 206.25% */
text-transform: capitalize;
}

