.nav-link.active{
    font-weight: bold;
    text-decoration: none;
  }
  @font-face {
    font-family: 'Montserrat',sans-serif;
    src: url('../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
  }
  @font-face {
    font-family: 'Poppines',sans-serif;
    src: url('../assets/fonts/Poppins/Poppins-Regular.ttf');
  }
  *{
    font-family: 'Montserrat', sans-serif;
    cursor: context-menu;
  }
  .navbar{
    z-index: 100;
  }
  .container-fluid >.navbar-brand{
    color: #718C59;
    font-size: 26px;
    font-weight: 700;
    line-height: 58px; 
  }
  #input-foot::placeholder{
    color: rgba(0, 0, 0, 0.35);
 
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
  .nav-home{
    position: fixed;
    top: -10px;
    width: 100%;
   }
  .container-fluid >.navbar-brand:hover{
    color: #718C59;
  }
  ul li {
    color: rgba(0, 0, 0, 0.70);
    font-size: 13px;
    font-weight: 500;
  }
  ul li a img{
    width: 16px;
    height: 16px;
  }
  nav ul li a:hover {
    cursor: pointer;
  }
  ul li {
    cursor: pointer;
  }
  nav > div >h1{
    cursor: context-menu;
  }
  nav > div >h1:hover{
    color: #718C59;
  }
  .home{
    color: rgba(0, 0, 0, 0.30);
    font-size: 14px;
    font-weight: 400;
}
.cart{
    color:#000;;
} 
.home-inst p{
    color: rgba(0, 0, 0, 0.80);
font-size: 26px;
font-style: normal;
font-weight: 500;
} 
.sofas a {
    color: #000;
     
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;

}
.sofas{
    text-align: center;
}
.off{
  margin-left: -57px;
    bottom: 62px;
    left: 19px;
    position: relative;
    height: 70vh;
    background-image: url(../assets/images/pages/living-room/Rectangle\ 413.png);
}
.off p:nth-child(1){
    color:  #718C59;
 
font-size: 40px;
font-weight: 600;
}
.off p:nth-child(2){
    color: rgba(0, 0, 0, 0.70);
 
font-size: 30px;
font-weight: 400;
}
.off p:nth-child(3){
    color: rgba(0, 0, 0, 0.50);
 
font-size: 14px;
font-weight: 400;

}
.nav-home{
  background-color: #fff;
}
.shop{
    background: rgba(140, 161, 122, 0.80);
    color: #fff;
    border: none;
}
.products-card-img img {
    transition: transform 0.3s;
  }

  .products-card-img img:hover {
    transition-delay: 300ms;
    transform: scale(1.1);
    transition: all .3s ease-out;
    
  }

  .products-card-img{
    padding: 10px;
    background: #FFF;
    box-shadow: 0px 4px 52px 0px rgba(0, 0, 0, 0.15);
}
.products-card-img > p{
    color: rgba(0, 0, 0, 0.40);
    font-size: 18px;
    font-weight: 700;
}
.products-card-img span {
    color: rgba(0, 0, 0, 0.29);
    font-size: 16px;
    font-weight: 500;
}
.products-card-img {
    text-align: center;
  }
  .product-card p{
    text-align: center;
    font-size: 15px;
    font-weight: 400px;
  }
  .product-card a{
    text-decoration: none;
  }
.product-card .p1{
    color: rgba(0, 0, 0, 0.80);
 
font-size: 16px;

  }
.product-card .p2{
    color:  #718C59;
 
font-size: 18px;
font-weight: 500;
    
  }
  .itemname{
    display: flex;
    justify-content: space-between;
  }
  .itemname span{
    color: rgba(0, 0, 0, 0.30);
 
font-size: 16px;
font-weight: 400;
  }
  .arrow {
    text-align: right;
  }
  .arrow img:nth-child(2):hover {
    -webkit-transform: translateX(20px); /* تحريك الصورة 20 بيكسل إلى اليمين عند تمرير المؤشر عليها */
    transform: translateX(20px);
    -webkit-transition: transform 2s; /* تأثير التدرج على خاصية التحول (transform) لمدة 2 ثانية (يمكنك تعديل المدة حسب الرغبة) */
    transition: transform 2s;
  }
  .arrow img:nth-child(1):hover {
    -webkit-transform: translateX(-20px); /* تحريك الصورة 20 بيكسل إلى اليمين عند تمرير المؤشر عليها */
    transform: translateX(-20px);
    -webkit-transition: transform 2s; /* تأثير التدرج على خاصية التحول (transform) لمدة 2 ثانية (يمكنك تعديل المدة حسب الرغبة) */
    transition: transform 2s;
  }
    
  .home-inst div > a{
    text-decoration: none;
    cursor: pointer;
  }
  .cs{
    padding-bottom: 15px;
      color:  rgba(113, 140, 89, 0.75);
      font-size: 16px;
      font-weight: 600;
  
  }
  .later{
      color: #000;
      font-size: 16px;
      font-weight: 300;
      padding-top: 7px;
   
  
  }
  .footer-home{
  
    font-family: 'Poppines', sans-serif;
    background: rgba(140, 161, 122, 0.03);
  }
  #input-foot{
      border-radius: 6px;
  background: rgba(113, 140, 89, 0.10);
  }
  #addon-wrapping{
      background-color: rgba(113, 140, 89, 0.75);
  }
  #end{
    text-align: center;
      color: rgba(0, 0, 0, 0.50);
      font-size: 12px;
      font-weight: 400;
      border-top: 1px solid rgba(0, 0, 0, 0.08);
  } 
  .page-item .page-link{
    color: #000;
     
    font-size: 17px;
    font-weight: 400;
 
  }
  .page-item:nth-child(2) .page-link{
    background-color: #718C59;
    color: #FFF;
  }
  .page-item{
    margin: 10px;
  }
  #per,#next{
    border: 1px solid rgba(0, 0, 0, 0.10);
    color: #718C59;
    font-size: 17px;
    font-weight: 400;
    border-radius: 0;
  }
  .pagination {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .Page{
    border-radius: 0;
  }
 .box.active{
    background-color: #718C59;
    color:#fff
  }
  .hover-item {
    transition: 1.5s;
  }
  .hover-item:hover {
    transform: translate(0, -30px);
  }
  .hover1-item:hover  {
    opacity: 0; 
  -webkit-transition: opacity 1s; 
  transition: opacity 0.5s;
  }

  .profile-page {
    display: none;
    ;
    background-color: #fff;
    padding: 10px;  
  }
  
  .profile-list,.cart-content {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
  
    right: 0;
    background-color: #fff;
    padding: 10px;
  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 191px;
  
    position: absolute;
    top: 66px;
    display: grid;
    justify-content: space-between;
  }
  
  .profile-list ul {
  
    padding: 0;
  }
  
  .profile-list li {
    margin: 5px 0;
    list-style: none;
  }
  
  .profile-list li a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    font-size: 10px;
  
  
  }
  
  .profile-list p {
    border-bottom: 1px solid #ddd;
    color: rgba(0, 0, 0, 0.6);
    font-size: 11px;
    font-weight: 500;
  
  }
  .profile-list li:nth-last-child(1) {
    border-bottom: 1px solid #ddd;
  }
  
  .cart-content header{
      display: flex;
      justify-content: space-between;
     
      border-bottom: 1px solid #ddd;
  }
  .cart-content header img{
      width: 21px;
      height: 21px;
  }
  .cart-content p{
      color: #000;
      font-size: 20px;
      font-weight: 500;
      text-transform: capitalize;
  }
  .cart-content button a{
      text-decoration: none;
      color: #fff;
  }
  .cart-content section span p{
      color: rgba(0, 0, 0, 0.80);
  font-size: 16px;
  
  font-weight: 400;
  }
  .cart-content .qty{
      color: rgba(0, 0, 0, 0.50);
  font-size: 14px;
  font-weight: 400;
  /* padding-top: 10px; */
  }
  .right-cart{
      position: absolute;
      right: 0px;
  }
  .cart-item,.cart-item3{
      padding: 10px;
      border-bottom: 1px solid #ddd;
  }
  .cart-item img,.cart-item3 img{
    width: 36%;
  }
  .cart-item3{
      padding-bottom: 100px;
  }
  .cart-content .foot-cart{
      display: flex;
      justify-content: space-between;
  }
  .cart-content .create{
      width: 100%;
      background:  #8CA17A;
      border: none;
      color: white;
  
  }
  .cart-content #input-foot::placeholder{
      color: rgba(0, 0, 0, 0.35);
   
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
    }

    .file-item .material div{
      display: flex;
      justify-content: space-between;
    }
    @media screen and (max-width: 767px) {
      .footer-home >.container-fluid{
        padding: 0;
        position: relative;
    
        left: -40px;
      }
        .footer-home >.container-fluid{
          padding: 0;
          position: relative;
      
          left: -40px;
        }
        .navbar .nav-home .collapse:nth-last-child(1){
          margin-left: 0;
        }
    .sofas a{
      display: none;
    }
    .row .col-5{
      display: none;
    }
    .row .col-7 ,.cards-sofas .row .col-3 {
      width: 100%;
    }
    .row .col-3,.row .col-9{
      width: 50%;
    }
    .col-9 .sofa-nav{
      display: none;
    }
    .carts-sofas .col-3{
      width: 100%;
    }
    .filters > .row > .file-item {

      height: auto
    }
    .carts-sofas .pagination  {
      display: none;
    }
    .file-item  .checks input[type="checkbox"] {
      width: 10px;
      height: 10px;
  }
  .file-item  .checks .value-check {
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
}
.file-item .seats .seat-checks{
  margin-left: -37px;
}
.file-item .material div,.file-item > div  .checks .wandh{
  display: block;
}
.file-item .shapes .seat-checks{
  display: none;
}
.file-item .shapes h6{
  font-size: 5px;
}
.file-item .checks {
  display: block;
}
  
  }



  


  .price-field {

    position: relative;
    width: 100%;
    height: 36px;
    box-sizing: border-box;

    padding-top: 15px;
  
    border-radius: 3px;
  }
  
  .price-field input[type=range] {
      position: absolute;
  }
  
  /* Reset style for input range */
  
  .price-field input[type=range] {
    width: 100%;
    height: 10px;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    border-radius: 5px;
    pointer-events: none;
    /* -webkit-appearance: none; */
    accent-color: rgba(113, 140, 89, 0.75);;
  }
  


  .price-wrap {
    margin-right: 9px;
    display: flex;
    justify-content: end;
    color: #fff;
    font-size: 14px;
    line-height: 1.2em;
    font-weight: 400;
    margin-bottom: 7px;
  }
  
  .price-wrap-1, 
  .price-wrap-2 {
    display: flex;
  }
  

  .price-wrap_line {
    margin: 0 10px;
  }
  
  .price-wrap #one, 
  .price-wrap #two{

    text-align: right;
    margin: 0;
    padding: 0;
    margin-right: 2px;
    background:  0;
    border: 0;
    outline: 0;
    line-height: 2.2em;
    color: rgba(0, 0, 0, 0.40);

    font-size: 16px;
    font-weight: 500;
  }
  .price-wrap label{
    margin: 0;
    padding: 0;
    background:  0;
    border: 0;
    outline: 0;
    font-size: 14px;
    line-height: 2.2em;
    color: rgba(0, 0, 0, 0.40);

    font-size: 16px;
    font-weight: 500;

  }
  


