@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/Poppins-Regular.ttf');
  }
*{
    font-family: 'Poppins', sans-serif;
    cursor: context-menu;
}

.back {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}
.left-arrow:hover {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
    -webkit-transition: transform 2s; 
    transition: transform 2s;
  }
.center-card {
    position: relative;
    top: 150px;
    margin: auto;

    background: rgba(0, 0, 0, 0.30);
}
.center-card h5{
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    padding:20px;
}
#input-foot::placeholder{
    color: rgba(0, 0, 0, 0.35);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
.center-card p{
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    padding-left: 25px;
    
}
.form-control{
    border-radius: none;
    border: 1px solid rgba(0, 0, 0, 0.10);
}
.form-inp::placeholder{

    color: rgba(0, 0, 0, 0.20);

font-size: 14px;
font-weight: 400;
text-transform: capitalize;
}
.background{
    height: 100vh;
    background-size: 100% 100%;
    background-image: url(../assets/images/Authentacation/sign-up/Rectangle\ 24.png)
}
.head{
   display: flex; 
   align-items: center;
}
.signup{
    display: flex;
    justify-content: space-around;
}
.sign{
    background: rgba(140, 161, 122, 0.05);
}
.confirmdiv{
    display: flex;
    justify-content: space-around;
}
.form-label{
    color: rgba(0, 0, 0, 0.70);
    font-size: 18px;
    font-weight: 400;
}


input::placeholder{
    color: rgba(199, 187, 187, 0.2);
    font-size: 16px;
    font-weight: 400;
}

form h3{
    color: rgba(0, 0, 0, 0.80);
    font-size: 29px;
    font-weight: 500;

}
.form-check-label{
    color: rgba(0, 0, 0, 0.50);
    font-size: 14px;
    font-weight: 400;
}
.create{
    width: 100%;
    background:  #8CA17A;
    border: none;
    color: white;
    padding-bottom: 8px;
    padding-top: 15px;
    margin-top: 60px;

}
.foot-getcode{
    text-align: center;
}
.verify{
    width: 80%;

    background: #8CA17A;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 0;
}
button{
    cursor: pointer;
}
.account{
    color: rgba(0, 0, 0, 0.50);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
     margin: auto;
}
.account a {
    color: rgba(0, 0, 0, 0.60);
    font-size: 16px;
    font-weight: 500;
    text-decoration-line: underline;
}
.account a :hover{
    cursor: pointer;
}
.hr-before-after::before,.hr-before-after::after {
  content: "";
  display: inline-block;
  width: 45%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.35);
  margin-bottom: 3px
}
.hr-before-after {
    color: #000;
    font-size: 14px;
    font-weight: 400;
}
.foot img:hover{
    /* background-color: #8CA17A; */
    cursor: pointer;
}
#basic-addon1{
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-left: 0;
}
#exampleInputEmail1,#exampleInputPassword1{
    border-radius: 0;
    background: none;
    border-right: none;
}
.foot img{
    width: 28px;
    height: 28px;
}
.confirm{
    color: rgba(0, 0, 0, 0.40);
    font-size: 13px;
    font-weight: 400;

}
#exampleInputEmail{
    height: 42px;
    border-radius: 4px;
background:  rgba(140, 161, 122, 0.20);

}
.create a,.verify a{
    text-decoration: none;
    color: #FFF;
}
.succe input{
    background-color: lightgray 50%;
    /* border: 1px solid lightgray; */
    border-radius: 0;
}
.get{
    color: #000;
    font-size: 18px;
    font-weight: bold

}
.foot-login{
    text-align: center;
}
.enter{
    color: rgba(0, 0, 0, 0.56);
    font-size: 16px;
    font-weight: 400;
}
.resend{
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 600;
}
.forget{
    color: rgba(0, 0, 0, 0.30);
    font-size: 12px;
    text-decoration: none;
}
.success{
    color: rgba(0, 0, 0, 0.80);
    margin-left: 120px;
font-size: 16px;

font-weight: 400;

}
#exampleInputPassword1{
    background: none;
    border-radius: 0;
    background: none;
}
a:hover{
    cursor: pointer;
}
.verifycode input{
    background-color: rgba(0,0,0,0.05);
    border-radius: 0;
}

.profile-page {
    display: none;
    ;
    background-color: #fff;
    padding: 10px;
  
  }
  
  .profile-list,.cart-content {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
  
    right: 0;
    background-color: #fff;
    padding: 10px;
  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 191px;
  
    position: absolute;
    top: 66px;
    display: grid;
    justify-content: space-between;
  }
  
  .profile-list ul {
  
    padding: 0;
  }
  
  .profile-list li {
    margin: 5px 0;
    list-style: none;
  }
  
  .profile-list li a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    font-size: 10px;
  
  
  }
  
  .profile-list p {
    border-bottom: 1px solid #ddd;
    color: rgba(0, 0, 0, 0.6);
    font-size: 11px;
    font-weight: 500;
  
  }
  .profile-list li:nth-last-child(1) {
    border-bottom: 1px solid #ddd;
  }
  
  .cart-content header{
      display: flex;
      justify-content: space-between;
     
      border-bottom: 1px solid #ddd;
  }
  .cart-content header img{
      width: 21px;
      height: 21px;
  }
  .cart-content p{
      color: #000;
      font-size: 20px;
      font-weight: 500;
      text-transform: capitalize;
  }
  .cart-content button a{
      text-decoration: none;
      color: #fff;
  }
  .cart-content section span p{
      color: rgba(0, 0, 0, 0.80);
  font-size: 16px;
  
  font-weight: 400;
  }
  .cart-content .qty{
      color: rgba(0, 0, 0, 0.50);
  font-size: 14px;
  font-weight: 400;
  /* padding-top: 10px; */
  }
  .right-cart{
      position: absolute;
      right: 0px;
  }
  .cart-item,.cart-item3{
      padding: 10px;
      border-bottom: 1px solid #ddd;
  }
  .cart-item img,.cart-item3 img{
    width: 36%;
  }
  .cart-item3{
      padding-bottom: 100px;
  }
  .cart-content .foot-cart{
      display: flex;
      justify-content: space-between;
  }
  .cart-content .create{
      width: 100%;
      background:  #8CA17A;
      border: none;
      color: white;
  
  }
  .cart-content #input-foot::placeholder{
      color: rgba(0, 0, 0, 0.35);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
    }


    @media screen and (max-width: 767px)  {
        .hr-before-after::before,
        .hr-before-after::after {
          display: none;
        }
        .footer-home >.container-fluid{
          padding: 0;
          position: relative;
      
          left: -40px;
        }
        .signup> .background{
            display: none;
        }
        .signup .sign{
            width: 100%;
            height: 100vh;
        }
        .signup .sign .verifycode{
            width: 100%;
            position: relative;
            right: 30px;
        }
        .sign .verfication .col-2{
            width: 50%;
        }
        .sign .success{
            position: relative;
            right: 51px;
        }
        .sign .loginnow{
            position: relative;
            right: 51px;
        }
    }

.success-checkmark {

    
    .check-icon {
        width: 110px;
        height: 110px;
        position: relative;
        /* border-radius: 50%; */
        box-sizing: content-box;
        /* border: 4px solid #4CAF50; */
        background-color: white;
        
        &::before {
            top: 3px;
            left: -2px;
            width: 30px;
            transform-origin: 100% 50%;
            border-radius: 100px 0 0 100px;
        }
        
        &::after {
            top: 0;
            left: 30px;
            width: 60px;
            transform-origin: 0 50%;
            border-radius: 0 100px 100px 0;
            animation: rotate-circle 4.25s ease-in;
        }
        
   
        .icon-line {
            height: 5px;
            background-color: #fff;
            display: block;
            border-radius: 2px;
            position: absolute;
            z-index: 10;
            
            &.line-tip {
                z-index: 100;
                top: 56px;
                left: 26px;
                width: 25px;
                transform: rotate(45deg);
                animation: icon-line-tip 0.75s;
            }
            
            &.line-long {
                z-index: 100;
                top: 46px;
                right: 23px;
                width: 47px;
                transform: rotate(-45deg);
                animation: icon-line-long 0.75s;
            }
        }
        
        .icon-circle {
            background-color: #8CA17A;
            top: -4px;
            left: -4px;
            z-index: 10;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            position: absolute;
            box-sizing: content-box;
            border: 4px solid #8CA17A;
            transform: translate(11px,12px)
        }
        

    }
}

@keyframes rotate-circle {
    0% {
        transform: rotate(-45deg);
    }
    5% {
        transform: rotate(-45deg);
    }
    12% {
        transform: rotate(-405deg);
    }
    100% {
        transform: rotate(-405deg);
    }
}

@keyframes icon-line-tip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@keyframes icon-line-long {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}