@font-face {
    font-family: 'Montserrat, sans-serif';
    src: url('../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
  }
  @font-face {
    font-family: 'Poppines', sans-serif;
    src: url('../assets/fonts/Poppins/Poppins-Regular.ttf');
  }
  .main {
    font-family: 'Montserrat', sans-serif;
    cursor: context-menu;
  }
  .navbar{
    z-index: 100;
  }
  .container-fluid >.navbar-brand{
    color: #718C59;
    font-size: 26px;
    font-weight: 700;
    line-height: 58px; 
    }
  .nav-home{
    position: fixed;
    top: -10px;
    width: 100%;
   }
  .container-fluid >.navbar-brand:hover{
    color: #718C59;
  }
  nav ul li {
    color: rgba(0, 0, 0, 0.70);
    font-size: 15px;
    font-weight: 500;
  }
  ul li a img{
    width: 16px;
    height: 16px;
  }
  nav ul li a:hover {
    cursor: pointer;
  }
  ul li {
    cursor: pointer;
  }
  nav > div >h1{
    cursor: context-menu;
  }
  nav > div >h1:hover{
    color: #718C59;
  }
  .home{
    color: rgba(0, 0, 0, 0.30);
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}
.cart.active{
    color:#000;;
}
.setings a.active,.orders a.active,.setings-address a.active{
    color: #000;}

.setings a , .setings-address a , .orders a{
    color: rgba(0, 0, 0, 0.50);
font-size: 12px;
font-weight: 500;
text-transform: capitalize;
text-decoration: none;
cursor: pointer;
}
.return a,.wishlist a,.wallest a,.payment a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.80);
   
  font-size: 18px;
  font-weight: 500;
}
.setting-profile{
    height: 890px;
    background: rgba(140, 161, 122, 0.08);
}
.setting-profile h3{
    color:  #718C59;
font-size: 26px;
font-weight: 500;
}
.active-settings span{
    color: #000;
    font-size: 20px;
font-weight: 500;
}

.information{
    margin-top: 85px;
    text-align: center;
    background-color: #FFF;
box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.10);
}
.my-orders{
  margin-top: 85px;
  background-color: #FFF;
box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.10);
}
.my-payment{
  background-color: #FFF;
box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.10);
}

.my-wallest{
  margin-top: 85px;
  background-color: #FFF;
box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.10);
}
.returnhidden{
  margin-top: 85px;
  background-color: #FFF;
box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.10);
}
.returnhidden p{
  left: 27px;
  top: 13px;
  position: relative;
  color: #000;
font-size: 22px;
font-weight: 700;
}
.returncard h5{
  color: #000;
 
font-size: 20px;
font-weight: 500;
}
.returncard h5 >span{
  color: rgba(0, 0, 0, 0.80);
font-size: 17px;
font-weight: 400;
}
.returncard p{
  color: rgba(0, 0, 0, 0.25);
 
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
position: relative;
left: 0;
}
.returncard h4{
  font-size: 18px;
  text-align: end;
}
.returncard >span{
  color: rgba(0, 0, 0, 0.80);
 
font-size: 14px;
font-weight: 500;
}
.returnhidden .card{
  border-radius: 8px;
background: rgba(140, 161, 122, 0.08);
width: 93%;

}

.information img{
    position: relative;
    bottom: 40px;
}
.information p{
    color: #000;
/*   */
font-size: 22px;
font-weight: 500;
}
.image-edite{
  right: 41px;
  position: relative;
  top: 10px;
}
.information h6{
    color: rgba(0, 0, 0, 0.50);
/*   */
font-size: 18px;
font-weight: 500;
}
.information input::placeholder{
    color: rgba(0, 0, 0, 0.70);
     
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize; 
}
.information button{
    color: rgba(0, 0, 0, 0.70);
 
font-size: 14px;
font-weight: 400;
    width: 100%;
    height: 30px;
    margin: 5px;
    border-radius: 4px;
background:  rgba(113, 140, 89, 0.16);
}
.information button:hover{
  background:  rgba(113, 140, 89, 0.16);
}
.category  {
    text-align: left;
    padding: 20px;
}
.category p{
    color: rgba(0, 0, 0, 0.80);
/*   */
font-size: 17px;
font-weight: 500;
text-transform: capitalize;
}


.cs{
    padding-bottom: 15px;
      color:  rgba(113, 140, 89, 0.75);
      font-size: 16px;
      font-weight: 600;
  
  }
  .later{
      color: #000;
      font-size: 16px;
      font-weight: 300;
      padding-top: 7px;
   
  
  }
  .footer-home{
    margin-top: 100px;
    font-family: 'Poppines', sans-serif;
    background: rgba(140, 161, 122, 0.03);
  }
  .footer-wellest {
    margin-top: 150px;

  }
  #input-foot{
      border-radius: 6px;
  background: rgba(113, 140, 89, 0.10);
  }
  #addon-wrapping{
      background-color: rgba(113, 140, 89, 0.75);
  }
  #end{
    text-align: center;
      color: rgba(0, 0, 0, 0.50);
      font-size: 12px;
      font-weight: 400;
      border-top: 1px solid rgba(0, 0, 0, 0.08);
  }  
  .informat label{
    
    position: relative;
    top: 25px;
    right: 162px;;
    color: rgba(0, 0, 0, 0.30);
 
font-size: 16px;
font-weight: 400;
text-transform: capitalize;
  }

  input::placeholder{
    position: relative;
    top: 3px;   
  }
  .password-confirm{
    margin: auto;
     
  }
  .password-confirm label{
    display: flex;
    margin-left: 117px;
    color: rgba(0, 0, 0, 0.70);
font-size: 16px;
font-weight: 400;
text-transform: capitalize;
    
  }
  .password-confirm input{
    border-radius: 0;
    margin: auto;
  }
  .password-confirm input::placeholder{
    color: rgba(0, 0, 0, 0.20);
    position: relative;
    top: 3px;
font-size: 16px;
font-weight: 400;
text-transform: capitalize;
  }
  .password-confirm button{
    background: rgba(113, 140, 89, 0.75);
border: none;
border-radius: 0;
  }
  .password-confirm button a{
    color: #FFF;
    font-size: 17px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    bottom: 10px;

  }
  .Cancel{
    padding-bottom: 50px;
  }
  .Cancel button{
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.20);
border-radius: 0;
  }
  .Cancel button a{
    color: #000;
    font-size: 17px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    bottom: 10px;

  }
  .Cancel button:hover{
    background-color: #fff;
  }
  .password-confirm button:hover{
    background-color:rgba(113, 140, 89, 0.75) ;
  }
  .informat p{
    color: rgba(0, 0, 0, 0.70);
 
font-size: 16px;
font-weight: 400;
text-transform: capitalize;
text-align: left;
position: relative;
top: 10px;
  }
  .manage input::placeholder ,.manage select {
    color: rgba(0, 0, 0, 0.20);
 
font-size: 16px;
font-weight: 400;

  }

  .manage  select{
    border-radius: 0;
  }
  .location p{
    text-align: left;
    color: #000;
 
font-size: 22px;
font-weight: 500;
  }
  .loaction-place{
    /* margin: auto; */
     
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0.30);
  }
  .loaction-place >span{
    color: #000;

    font-size: 18px;
    font-weight: 500;

  }
  .loaction-place p{
    color: rgba(0, 0, 0, 0.30);
font-size: 17px;
font-weight: 500;
  }
  .loaction-place input{
width: 26px;
height: 26px;
position: relative;
    top: 4px;
  }
  .loaction-place input[type="radio"]:checked {
    background-color: rgba(113, 140, 89, 0.75);
  }
  .loaction-place img{
    width: 20px;
    height: 20px;
    position: relative;
    bottom: 30px;
  }
  .loaction-place .delete{
    color: rgba(154, 0, 0, 0.50);
 
font-size: 12px;
font-weight: 500;
position: relative;
bottom: 26px;
  }
  .loaction-place .edit{
    color: #718C59;
 
font-size: 12px;
font-weight: 500;
position: relative;
bottom: 26px;
  }
  input[type='radio']{
    accent-color: rgba(113, 140, 89, 0.75);
  }
  .loaction-place a> h7,span{
    color: rgba(0, 0, 0, 0.80);
 
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
  }
  .addnew a{
    cursor: pointer;
    display: flex;
    justify-content: space-around;
  }
  .addnewcard{
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .addnewcard:hover{
    cursor: pointer;
  }
  .addnewcard span, .addnewcard >h6{
    color:#718C59;
    font-size: 22px;
    font-weight: 500;
  }
  #logo-image{
    display: none;
  }
  .loaction-place a{
    text-decoration: none;
  }
  .location{
    padding-bottom: 30px;
  }
  .locationpayment{
    padding-bottom: 30px;
  }
  .addnew{
    margin-right: 83px;
    width: 40%;
  }
  #input-foot::placeholder{
    color: rgba(0, 0, 0, 0.35);
 
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
  .my-orders button{
    color: rgba(0, 0, 0, 0.65);
font-size: 14px;
font-weight: 400;

  }
  .my-orders{
     
    padding-bottom: 50px;
    height: 85%;
  }
  .my-orders p{
    left: 27px;
    top: 13px;
    position: relative;
    color: #000;
font-size: 22px;
font-weight: 700;
  }
  .my-orders ul li{
    padding: 14px;
   
  }
  .my-orders table tr th{
    color: rgba(0, 0, 0, 0.50);
 
font-size: 14px;
font-weight: 400;
padding: 14px;

  }
  .my-orders tbody tr td {
    background-color: rgba(221, 64, 51, 0.08);
    padding: 14px;
    color: rgba(0, 0, 0, 0.80);
 
font-size: 14px;
font-weight: 400;
  }
  .my-orders table thead {
    border: #fff;
   
  }
  .my-orders tbody tr td button{
    border: 0;
 
font-size: 14px;
font-weight: 400;
background-color:  rgba(248, 186, 186, 0.50);
color: var(--red, #DD4033);
  }

    .my-orders tbody tr:nth-child(2) td button{
      background: var(--baby-mint-green, #D8DFD1);
      color: var(--green, #718C59);
      

    }
    .my-orders tbody:nth-child(1) tr:nth-child(2){
      background: rgba(140, 161, 122, 0.10);

      ;
    }
    .my-orders tbody tr:nth-child(3){
      background: rgba(253, 241, 219, 0.70);
      ;
    }
   .trow10{
    background: rgba(253, 241, 219, 0.70);
   }
    .my-orders tbody tr:nth-child(4){
      background:  rgba(221, 64, 51, 0.08);
    }
    .my-orders tbody tr:nth-child(5){
      background:  rgba(221, 64, 51, 0.08);
    }
    .my-orders tbody tr:nth-child(3) td button{
      background: var(--baby-orange, rgba(254, 199, 92, 0.50));
      color: var(--dark-orange, #BE8022);

    }
.my-orders table img{
  height: 54px;
  width: 75%;
}
.tab-pane {
  padding: 12px;
}
table thead tr {
  border-bottom: 1px solid  rgba(0, 0, 0, 0.10);;
}
table  tr{
  border:white;
}
table tbody .trow1{
  position: relative;
  top: 10px;
}
.trow2{
  position: relative;
  top: 20px;
  background: rgba(140, 161, 122, 0.10)
}
.trow3{
  position: relative;
  top: 30px;
}
.trow4{
  position: relative;
  top: 40px;
}
.trow5{
  position: relative;
  top: 50px;
}
table  td  .drop{
  width: 30px;
  height: 30px;
}
 .my-orders .nav-underline .nav-link.active 
 {
  border-bottom-color: #8CA17A;
}

.details-confirm{
  top: 53px;
    display: block;
    position: absolute;
    left: 10px;
  
 
}
.itemdetails-confirm {
  color: rgba(0, 0, 0, 0.50);
 
font-size: 18px;
font-weight: 400;
border-bottom: 1px solid  rgba(0, 0, 0, 0.08);;
}

.unpaid-table tbody tr:nth-child(2) td button{
  background: var(--baby-orange, rgba(254, 199, 92, 0.50));
      color: var(--dark-orange, #BE8022);
  

}
.my-orders .return-img{
  margin: auto;
  display: block;
}
.my-orders figcaption{
  text-align: center;
  color: rgba(0, 0, 0, 0.30);
 
font-size: 16px;

font-weight: 500;
}
.my-orders h6{
  text-align: center;
  color: rgba(0, 0, 0, 0.80);

 
font-size: 18px;

font-weight: 500;

}
.modal-body h6{
  color: rgba(18, 20, 24, 0.80);
font-variant-numeric: lining-nums proportional-nums;
 
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 20px;
text-transform: capitalize;
}
.modal-body p{
  color: rgba(0, 0, 0, 0.30);
font-variant-numeric: lining-nums proportional-nums;
 
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 125% */
text-transform: capitalize;
position: relative;
left: 0;
}

.modal-footer button{
  background-color: rgba(113, 140, 89, 0.75);
  border: none;
}
.setting-profile {
  cursor: pointer;
}
.mywish h3{
  color: #000;
   
  font-size: 22px;
  font-weight: 500;
}
.mywallet{
      top: 50px;
    position: relative;
    left: 60px;
}
.mywallet .card{
  background: rgba(140, 161, 122, 0.05);
  border: none;
  border-radius: 0;
}
.mywallet .card h5{
  color: rgba(0, 0, 0, 0.80);
 
font-size: 16px;
font-weight: 400;
}
.mywallet .card h6{
  color: #000;
 
font-size: 30px;

font-weight: 500;}
.mywallet h3{
  color: #000;
   
  font-size: 25px;
  font-weight: 600;

}
.body-table > tr td{
  color: rgba(0, 0, 0, 0.70);
font-size: 16px;
font-weight: 400;
}
.head-table > tr th{
  color: rgba(0, 0, 0, 0.80);
font-size: 18px;
font-weight: 400;
position: relative;
left: 3px;


}
.loaction-place>h6{
  color: rgba(0, 0, 0, 0.80);
   
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.bord{
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  position: relative;
  left: 30px;
}
.my-wallest table {
  border-collapse: collapse;
  line-height: 30px;
  width: 80%;
}
.my-wallest tbody td{
  padding: 20px;
}
.my-wallest    tbody td:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.10);;
  
}
.my-wallest tbody .quant{
  color: rgba(154, 0, 0, 0.70);
  
  
}
.my-wallest tbody .quant1{
  color: var(--green, #718C59);
  
  
}
.mywallet > table{
  position: relative;
  right: 21px;
}
.mywish h3:nth-last-child(1){
  color: rgba(0, 0, 0, 0.30);
 
font-size: 18px;
font-weight: 400;
}
.wish-card> h5:nth-child(1){
  color: #000;
 
font-size: 18px;
font-weight: 400;
text-transform: capitalize;
}
.wish-card> h6{
  color: var(--baby-green, #718C59);
   
  font-size: 12px;
  font-weight: 400;
  text-transform: capitalize;
  text-align: left;
}
.wish-card >span{
  color: rgba(0, 0, 0, 0.50);
   
  font-size: 14px;
  font-weight: 400;
}
.wish-card h4{
  color: #000;
 
font-size: 20px;
font-weight: 400;

text-transform: capitalize;
}
.wish-card h4 >del{
  color: rgba(0, 0, 0, 0.50);
 
font-size: 14px;
font-weight: 400;
line-height: 33px; 
text-decoration-line: strikethrough;
text-transform: capitalize;
}
.cas{
  color: rgba(0, 0, 0, 0.50);
 
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 33px; /* 183.333% */
text-transform: capitalize;
}
 .disc{
  color: var(--red, #DD4033);
font-size: 18px;

}
.miniwar-card{

  border-bottom: 1px solid rgba(0, 0, 0, 0.10);

}
.img-delete{
  direction: rtl;
}
.right-img{
  width: 3%;     right: -100%;
      position: relative;
      width: 3%;
      top: -130px;
}
.left-img{
     right: 38px;
     position: relative;
     width: 3%;
     top: 140px;
 
}
.love{
  left: 115px;

  position: relative;
  top: 40px;
}

.gotoshop{
  background-color: #8CA17A;
  width: 50%;
  border-radius: 0;
  border: 0;
}
.gotoshop a{
  color: #FFF;
 
font-size: 18px;
font-weight: 400;
text-decoration: none;
}

.profile-page {
  display: none;
  ;
  background-color: #fff;
  padding: 10px;

}

.profile-list,.cart-content {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;

  right: 0;
  background-color: #fff;
  padding: 10px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 191px;

  position: absolute;
  top: 66px;
  display: grid;
  justify-content: space-between;
}

.profile-list ul {

  padding: 0;
}

.profile-list li {
  margin: 5px 0;
  list-style: none;
}

.profile-list li a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  font-size: 10px;


}

.profile-list p {
  border-bottom: 1px solid #ddd;
  color: rgba(0, 0, 0, 0.6);
  font-size: 11px;
  font-weight: 500;

}
.profile-list li:nth-last-child(1) {
  border-bottom: 1px solid #ddd;
}

.cart-content header{
    display: flex;
    justify-content: space-between;
   
    border-bottom: 1px solid #ddd;
}
.cart-content header img{
    width: 21px;
    height: 21px;
}
.cart-content p{
    color: #000;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}
.cart-content button a{
    text-decoration: none;
    color: #fff;
}
.cart-content section span p{
    color: rgba(0, 0, 0, 0.80);
font-size: 16px;

font-weight: 400;
}
.cart-content .qty{
    color: rgba(0, 0, 0, 0.50);
font-size: 14px;
font-weight: 400;
/* padding-top: 10px; */
}
.right-cart{
    position: absolute;
    right: 0px;
}
.cart-item,.cart-item3{
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.cart-item img,.cart-item3 img{
  width: 36%;
}
.cart-item3{
    padding-bottom: 100px;
}
.cart-content .foot-cart{
    display: flex;
    justify-content: space-between;
}
.cart-content .create{
    width: 100%;
    background:  #8CA17A;
    border: none;
    color: white;

}
.cart-content #input-foot::placeholder{
    color: rgba(0, 0, 0, 0.35);
 
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
.informat .ph{
  right: 128px;
}

.location .loaction-place{
  width:75%;
}
.home_profile {
  position: relative;
  right: 50px;
}
.loaction-place{
  width: 75%;
}

  @media screen and (max-width: 767px)  {
    .home_profile:nth-child(1) >div{
      right: 0;
    }
    .trow2 .drop{
      display: none;
    }
    .newcard-container .col-9{
      padding: 1.2rem;
    }
    .loaction-place{
      width: 100%;
    }
    .footer-home >.foot-manage{
      position: relative;
      right: 31px;

    }
    .home_profile{
      left:-2px;
      top:44px

    }
    .hand {
      left: 9px;
      top: 38px;
    }
  
    .home-inst .row .col-3,.home-inst .row .col-9{
      width: 100%;
    }
    .home-inst .category  .row .col-4{
      width: 100%;
    }
    .informat  .col-6{
      width: 100%;
    }
    .informat label{
      right: 66px;
    }
    .informat .ph{
      right: 38px;
    }
     .security> .row> .col-3, .security  .row .col-9{
      width: 100%;
    }
    .security .password-confirm label {
      margin-left: 36px;}
      .home-inst .location .loaction-place .delete-container{
        position: relative;
    right: -44px;
    top: 27px;
      }
      .home-inst .addnew{
        width: 100%;
      }
      .home-inst table tbody .trow1,.trow2,.trow3,.trow4,.trow5{
        display: grid;
      }
      table thead tr {
        display: none;
      }
      .my-orders ul{
        display: block;
      }
      .my-orders{
        height: auto;
      }
      .returns-countainer .row .col-3 ,.returns-countainer .row .col-9{
        width: 100%;
      }
      .my-wallest table{
        width: 100%;
      }
      .my-wallest table tbody tr{
        display: grid;
      }
      .love{
        display: none;
      }
      .my-wallest{
        height: 100%;
      }
      .my-wallest .card{
        display: none;
      }
      .my-wallest table tbody tr td:nth-child(5){
        border-bottom: 1px solid #ddd;
      }
      .mywallet{
        left: 0;
      }
      .location .loaction-place{
        width: 100%;
      }
      .credit-card-name{
        display: none;
      }
      .newcard-container .col-9 .my-payment{
        padding: 0
      }
      .navbar .nav-home .collapse:nth-last-child(1){
        margin-left: 0;
      }
      .information .location >p{
       display: none;
      }
      .logo{
        display: none;
        padding-left: 0rem!important;
    
      }
      nav #logo-image{
        display: block;
  
        width: 44%;
      }
      .nav-home{
        padding: 20px;
        box-shadow: 0px 4px 52px 0px rgba(0, 0, 0, 0.15);
      }
   
      main .hand{
        right: 0;
        top: 20px;
      }
      .header-navber{
        left: 0px;
        top: 25px;
      }
     
  }
  .header-navber{
    position: relative;
    right: 90px;top:20px
  }
  .hand{
    position: relative;right: 90px;
    top: 20px;
  }
  .my-payment{
    padding: 3rem;
  }
  .chair{
    background: url(../assets/images/pages/profile/Rectangle\ 128.png);
    background-repeat: no-repeat;
    overflow: hidden;

  }
  .home_profile{
    position: relative;right: 90px;

  }

  .chair img{
    transform: translate(10px,0px);
  }
  .chair img:hover{
    animation: animName 1s linear  ;
  }

.details-confirm {
  display: none;
  padding: auto;
}
  .chair .card-photo{
  transform: translate(20px, 10px);
  }
  @keyframes animName {
    0%{
       transform: rotateY(180deg);
      }
   
   
   }
   .overlay button{
    margin-top: 20px;
    color:#fff;background-color: transparent;border: 1px solid #ddd;border-radius: 0;
   }
   .overlay button:hover{
    background-color: #718C59;
   }
   .overlay .red-sock:hover{
    background-color: red;
   }
   .overlay {
    width: 75%;
    top: 100%;
    position: absolute;
    transition: all .3s ease-out;
    background: hsl(0, 0%, 0%, 0.5);
    height: 100%;
  
  }
  .products-card:hover .overlay {
    top: 0;
  }
  .products-card {
    position: relative;
    overflow: hidden;
  }
  .img-arrow:hover{
    -webkit-transform: translateX(20px);
  transform: translateX(20px);
  -webkit-transition: transform 2s; 
  transition: transform 2s;
  }