@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
  }
  @font-face {
    font-family: 'Poppines', sans-serif;
    src: url('../assets/fonts/Poppins/Poppins-Regular.ttf');
  }
  .main {
    font-family: 'Montserrat', sans-serif;
    cursor: context-menu;
  }
.filters> span{
    color: #2E5F04;
font-size: 22px;
font-weight: 500;
text-transform: capitalize;
}
.file-item {
    border: 1px solid #ddd;
    /* height: 125vh; */
}
.img-card a {
  text-decoration: none;
  color: #000;
}
#input-foot::placeholder{
  color: rgba(0, 0, 0, 0.35);
 
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.sofa-nav{
    display: flex;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.40);
box-shadow: 4px 4px 50px 0px rgba(0, 0, 0, 0.08);
}
.sofa-nav h5{
    color: #2E5F04;
 
font-size: 23px;
font-weight: 400;

}
.sofa-nav .p-found{
    color: rgba(0, 0, 0, 0.60);
 
font-size: 23px;
font-weight: 400;
}
.sofa-nav select{
    border: none;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.60);
    box-shadow: 0px 4px 33px 0px rgba(0, 0, 0, 0.06);
}
.img-card{
    background: rgba(140, 161, 122, 0.08);
    transition: 1.5s;
}
.img-card img:hover{
    transform: scale(1.3);
    transition: all 600ms ease-out;
}
.img-scall:hover {
  opacity: 0; 
  -webkit-transition: opacity 1s; 
  transition: opacity 0.5s;
}

.img-card h3{
    color: rgba(0, 0, 0, 0.80);

font-size: 16px;
font-weight: 500;
}
.img-card span{
    color: rgba(113, 140, 89, 0.80);
 
font-size: 20px;
font-weight: 500;
}
.cs{
    padding-bottom: 15px;
      color:  rgba(113, 140, 89, 0.75);
      font-size: 16px;
      font-weight: 600;
  
  }
  .later{
      color: #000;
      font-size: 16px;
      font-weight: 300;
      padding-top: 7px;
   
  
  }
  .footer-home{
  
    font-family: 'Poppines', sans-serif;
    background: rgba(140, 161, 122, 0.03);
  }
  #input-foot{
      border-radius: 6px;
  background: rgba(113, 140, 89, 0.10);
  }
  #addon-wrapping{
      background-color: rgba(113, 140, 89, 0.75);
  }
  #end{
    text-align: center;
      color: rgba(0, 0, 0, 0.50);
      font-size: 12px;
      font-weight: 400;
      border-top: 1px solid rgba(0, 0, 0, 0.08);
  } 
  .pang .box{
    border: 1px solid rgba(0, 0, 0, 0.10);
    width: 30px;
    height: 30px;
    color: #000;
     
    font-size: 18px;
    font-weight: 400;
    margin: 10px
  }
 
 .box.active{
    background-color: #718C59;
    color:#fff
  }
  .hover-item {
    transition: 1.5s;
  }
  .hover-item:hover {
    transform: translate(0, -30px);
  }

  .page-item:nth-child(2) .page-link{
    background-color: #718C59;
    color: #FFF;
  }

  .pagination {
    display: flex;
    justify-content: left;
  }
  .Page{
    border-radius: 0;
  }
  .right-row:hover {
    -webkit-transform: translateX(-20px); 
    transform: translateX(-20px);
    -webkit-transition: transform 2s; 
    transition: transform 2s;
  }


.file-item div:not(.checks){
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);

}
.file-item a{
  text-decoration: none;
  color: #000;
}
.file-item div:nth-child(1), .file-item div:nth-last-child(1){
    border-bottom: 0;
}
.file-item button{
    display: flex;
    justify-content: space-between;
    border: 0;
    background-color: #fff;
}
.colors , .checks{
    color: rgba(0, 0, 0, 0.70);

font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: capitalize;

}
input:checked{
    width: 18px;
height: 18px;
}
.seat-checks input{
    border: #2E5F04;
    display: block;
}
.seat-checks sh6pan{
    color: rgba(0, 0, 0, 0.30);

font-size: 14px;
font-weight: 500;
text-transform: capitalize;
}
.seats{
    color: rgba(0, 0, 0, 0.70);

font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: capitalize;
}
.shapes img{
  width: 21px;
  padding: 1px;
}


.profile-page {
  display: none;
  ;
  background-color: #fff;
  padding: 10px;

}

.profile-list,.cart-content {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;

  right: 0;
  background-color: #fff;
  padding: 10px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 191px;

  position: absolute;
  top: 66px;
  display: grid;
  justify-content: space-between;
}

.profile-list ul {

  padding: 0;
}

.profile-list li {
  margin: 5px 0;
  list-style: none;
}

.profile-list li a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  font-size: 10px;


}

.profile-list p {
  border-bottom: 1px solid #ddd;
  color: rgba(0, 0, 0, 0.6);
  font-size: 11px;
  font-weight: 500;

}
.profile-list li:nth-last-child(1) {
  border-bottom: 1px solid #ddd;
}

.cart-content header{
    display: flex;
    justify-content: space-between;
   
    border-bottom: 1px solid #ddd;
}
.cart-content header img{
    width: 21px;
    height: 21px;
}
.cart-content p{
    color: #000;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}
.cart-content button a{
    text-decoration: none;
    color: #fff;
}
.cart-content section span p{
    color: rgba(0, 0, 0, 0.80);
font-size: 16px;

font-weight: 400;
}
.cart-content .qty{
    color: rgba(0, 0, 0, 0.50);
font-size: 14px;
font-weight: 400;
/* padding-top: 10px; */
}
.right-cart{
    position: absolute;
    right: 0px;
}
.cart-item,.cart-item3{
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.cart-item img,.cart-item3 img{
  width: 36%;
}
.cart-item3{
    padding-bottom: 100px;
}
.cart-content .foot-cart{
    display: flex;
    justify-content: space-between;
}
.cart-content .create{
    width: 100%;
    background:  #8CA17A;
    border: none;
    color: white;

}
.cart-content #input-foot::placeholder{
    color: rgba(0, 0, 0, 0.35);
 
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }

  input[type="checkbox"] {
    width: 20px;
    height: 17px;
  }
  
  /* تغيير لون الحدود إلى اللون الأحمر */
  input[type="checkbox"] {
    border: 2px solid red;
  }
  .value-check{
    color: rgba(0, 0, 0, 0.7);;
    font-size: 16px;
  }

  .seats  input[type="checkbox"] {
    width: 20px;
    height: 15px;

  }
  .wandh{
     display: flex;justify-content: space-between}


.nav-home{
  z-index: 100;
  }
  @media screen and (max-width: 767px)  {
    .hr-before-after::before,
    .hr-before-after::after {
      display: none;
    }
    .footer-home >.container-fluid{
      padding: 0;
      position: relative;
  
      left: -40px;
    }
    .navbar .nav-home .collapse:nth-last-child(1){
      margin-left: 0;
    }
  .sofa-nav{
    display: none;
  }}