@font-face {
  font-family: 'Montserrat',sans-serif;;
  src: url('assets/fonts/Montserrat/static/Montserrat-Medium.ttf');
}

@font-face {
  font-family: 'Poppines',sans-serif;
  src: url('assets/fonts/Poppins/Poppins-Medium.ttf');
}

.main {
  font-family: 'Montserrat', sans-serif;
  cursor: context-menu;
}

.navbar {
  z-index: 100;
  
}
  
.container-fluid>.navbar-brand {
  color: #718C59;
  font-size: 26px;
  font-weight: 700;
  line-height: 58px;
}

.nav-home {
  position: fixed;
  top: -10px;
  width: 100%;
}


.container-fluid>.navbar-brand:hover {
  color: #718C59;
}

ul li {
  color: rgba(0, 0, 0, 0.70);
  font-size: 15px;
  font-weight: 500;
}

ul li a img {
  width: 16px;
  height: 16px;
}

nav ul li a:hover {
  cursor: pointer;
}

ul li {
  cursor: pointer;
}

nav>div>h1 {
  cursor: context-menu;
}

nav>div>h1:hover {
  color: #718C59;
}

.car-center {
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: rgba(255, 255, 255, 0.47);
  text-align: center;
  transform: translate(0, 50%);
  margin: auto;
  width: 66%;
  padding-top: 15px;
}

.header-nav {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(assets/images/pages/Rectangle\ 387.png);
  height: 100vh;

}

nav ul li a:hover {
  cursor: pointer;
}

.btn2 {
  width: 180px;
  height: 47px;
  border: 1px solid #ddd;
  color: #718C59;
  font-size: 17px;
  font-weight: 400;
  transition: all .3s ease-out
}

.btn2:hover {
  transition-delay: 300ms;
  background-color: #718C59;
  color: #fff;
  cursor: pointer;
}

.butns {
  display: flex;
  justify-content: center;
}

.btn1 {
  opacity: 0.5;
  background-color: #718C59;
  width: 180px;
  height: 47px;
  border: 1px solid #ddd;
  color: #ffff;
  font-size: 17px;
  font-weight: 400;
  transition: all .3s ease-out
}

.btn1:hover {
  transition-delay: 300ms;
  opacity: 1;
  cursor: pointer;
}

.products-card-img img {
  transition: transform 0.6s;
}

.products-card-img img:hover {
  transition-delay: 300ms;
  transform: scale(1.1);
}

.hr-before-after::before,
.hr-before-after::after {
  margin-bottom: 4px;
  content: "";
  display: inline-block;
  width: 45%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.35);
}

.hr-before-after {
  color: #000;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .car-center {
    width: 100%;
    transform: translate(0, 30%);
  }
}


@media screen and (max-width: 767px) {
  .hr-before-after::before,
  .hr-before-after::after {
    display: none;
  }

    .footer-home >.container-fluid{
      padding: 0;
      position: relative;
  
      left: -70px;
    }
  .footer-home>div>div{
    padding:0
  }


}

@media (max-width: 767px) {

  .img {
    display:none
  }
  .hr-bf {
    position: absolute;
    left: 24px;
    padding-bottom: 10px;
  }

  .div-before-after {
    margin-bottom: 50px;
  }

  .img-inspiration {
    display: none;
  }

  .lorem {
    display: none;
  }
  .navbar .nav-home .collapse:nth-last-child(1){
    margin-left: 0;
  }

  .logo{
    display: none;
    padding-left: 0rem!important;

  }
  nav #logo-image{
    display: block;
    margin-left: -35px;
    width: 44%;
  }
  .nav-home{
    padding: 20px;
    box-shadow: 0px 4px 52px 0px rgba(0, 0, 0, 0.15);
  }

}

#logo-image{
  display: none;
}



.logo{
 
  padding-left: 5rem;

}
.div-before-after {
  padding: 30px;
}

#head {
  margin: auto;
  color: #000;
  font-size: 27px;
  font-weight: 400;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  display: inline-block;
  /* Add this line */
}

#head span {
  color: #718C59;
  font-size: 27px;
  font-weight: 500;
  line-height: 58px;
}

#head2 {
  padding: 14px;
  margin: auto;
  color: #000;
  font-size: 18px;
  font-weight: 400;
}

#head2>span {
  color: #718C59;

  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  text-transform: capitalize;
}

ul li {
  cursor: pointer;
}

nav>div>h1 {
  cursor: context-menu;
}

nav>div>h1:hover {
  color: #718C59;
}

main p {
  color: #000;
  text-align: center;
  font-size: 23px;
  font-weight: 400;
}

#p {
  color: rgba(0, 0, 0, 0.40);
  font-size: 16px;
  font-weight: 400;
  line-height: 33px;
}

.products-card>p {
  text-decoration: underline;
}

.products-card-img {
  padding: 10px;
  background: #FFF;
  box-shadow: 0px 4px 52px 0px rgba(0, 0, 0, 0.15);
}

.company-card-img {
  border: 1px solid rgba(140, 161, 122, 0.30);
  padding: 10px;
  background: #FFF;

}

.company-card-img>p {
  color: rgba(0, 0, 0, 0.40);
  font-size: 18px;
  font-weight: 700
}

.company-card-img span {
  color: rgba(0, 0, 0, 0.29);
  font-size: 16px;
  font-weight: 500;
}

.company-card-img {
  text-align: center;
}

.products-card-img>p {
  color: rgba(0, 0, 0, 0.40);
  font-size: 18px;
  font-weight: 700;
}

.products-card-img span {
  color: rgba(0, 0, 0, 0.29);
  font-size: 16px;
  font-weight: 500;
}

.products-card-img {
  text-align: center;
}

.product-card p {
  text-decoration: underline;
  font-size: 20px;
  font-weight: 400px;
}

.Inspiration>.products-card {
  background: rgba(140, 161, 122, 0.30);
}

.products-card h6 {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
}

.products-card span {
  padding: 4px;
  color: rgba(0, 0, 0, 0.40);
  font-size: 16px;
  font-weight: 400;
  line-height: 33px;
  text-transform: capitalize;
}

.offer {
  color: #718C59;
  font-size: 21px;
  font-weight: 500;
}
.Sales-img{
  transition: all .3s ease-out;
}

.Sales-img:hover {
  background-color: white;
  box-shadow: 0px 4px 52px 0px rgba(0, 0, 0, 0.15);
  
}

.desc {
  color: rgba(0, 0, 0, 0.40);
  font-size: 20px;
  font-weight: 400;
}

.view {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}

.Test {

  box-shadow: 4px 4px 50px 0px rgba(0, 0, 0, 0.10);
}

.title {
  color: rgba(0, 0, 0, 0.80);
  font-size: 20px;
  font-weight: 500;
}

.thank {
  color: rgba(0, 0, 0, 0.80);

  font-size: 17px;
  font-weight: 400;

}

.lorem {
  color: rgba(0, 0, 0, 0.70);
  font-size: 20px;
  font-weight: 400;

}

.img {
  max-width: 12%;
}

.foot-span {
  color: rgba(0, 0, 0, 0.42);
  font-size: 16px;
  font-weight: 400;
}

h4 {
  color: rgba(0, 0, 0, 0.80);
  font-size: 18px;
  font-weight: 400;
  padding-top: 13px;

}

.cs {
  padding-bottom: 15px;
  color: rgba(113, 140, 89, 0.75);
  font-size: 16px;
  font-weight: 600;

}

.later {
  color: #000;
  font-size: 16px;
  font-weight: 300;
  padding-top: 7px;


}

#input-foot {
  border-radius: 6px;
  background: rgba(113, 140, 89, 0.10);
}

#addon-wrapping {
  background-color: rgba(113, 140, 89, 0.75);
}

#end {
  text-align: center;
  color: rgba(0, 0, 0, 0.50);
  font-size: 12px;
  font-weight: 400;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.products-card {
  position: relative;
  overflow: hidden;
}
.prod-card{
  background-image: url(assets/images/pages/sales/background.png);
  position: relative;
  
}



.overlay {
  top: 100%;
  position: absolute;
  transition: all .3s ease-out;
  background: hsl(0, 0%, 0%, 0.5);
  height: 100%;

}

.left-arrow:hover {
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
  -webkit-transition: transform 2s; 
  transition: transform 2s;
}
/* .arrow img:nth-child(1):hover {
  -webkit-transform: translateX(-20px); 
  transform: translateX(-20px);
  -webkit-transition: transform 2s; 
  transition: transform 2s;
} */
.products-card:hover .overlay {
  top: 0;
}

.products-img>img {
  transition: all .3s ease-out;
}

.products-card:hover .products-img>img {
  transform: scale(1.1);
}


.overlay h6 {
  color: white;
}

.overlay h5 {
  color: #ddd;
}

.footer-home {
  font-family: 'Poppins', sans-serif;
  background: rgba(140, 161, 122, 0.03);
}

.nav-link.active {
  font-weight: bold;
}

.shown {
  height: 40px;
  position: absolute;
  top: 240px;
  border-radius: 0;
  border: none;
  background-color: #718C59;
  color: #fff;
  text-decoration: none;
}

.mr {
  margin-left: -10px;
}

#input-foot::placeholder {
  color: rgba(0, 0, 0, 0.35);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile-page {
  display: none;
  ;
  background-color: #fff;
  padding: 10px;

}

.profile-list,.cart-content {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;

  right: 0;
  background-color: #fff;
  padding: 10px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 191px;

  position: absolute;
  top: 66px;
  display: grid;
  justify-content: space-between;
}

.profile-list ul {

  padding: 0;
}

.profile-list li {
  margin: 5px 0;
  list-style: none;
}

.profile-list li a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  font-size: 13px;


}

.profile-list p {
  border-bottom: 1px solid #ddd;
  color: rgba(0, 0, 0, 0.6);
  font-size: 11px;
  font-weight: 500;

}
.profile-list li:nth-last-child(1) {
  border-bottom: 1px solid #ddd;
}

.cart-content header{
    display: flex;
    justify-content: space-between;
   
    border-bottom: 1px solid #ddd;
}
.cart-content header img{
    width: 21px;
    height: 21px;
}
.cart-content p{
    color: #000;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}
.cart-content button a{
    text-decoration: none;
    color: #fff;
}
.cart-content section span p{
    color: rgba(0, 0, 0, 0.80);
font-size: 16px;

font-weight: 400;
}
.cart-content .qty{
    color: rgba(0, 0, 0, 0.50);
font-size: 14px;
font-weight: 400;
/* padding-top: 10px; */
}
.right-cart{
    position: absolute;
    right: 0px;
}
.cart-item,.cart-item3{
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.cart-item img,.cart-item3 img{
  width: 36%;
}
.cart-item3{
    padding-bottom: 100px;
}
.cart-content .foot-cart{
    display: flex;
    justify-content: space-between;
}
.cart-content .create{
    width: 100%;
    background:  #8CA17A;
    border: none;
    color: white;

}
.cart-content #input-foot::placeholder{
    color: rgba(0, 0, 0, 0.35);

font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
  .testimonial-section {
    display: flex;
    overflow: hidden;
  }
  

  .test2, .test11 {
    display: none;
  }
  .flower{
    position: relative;
    max-height: 100px;
    top: 163px;
    left: 60px;
  }